<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.QLLoginFormConnectionString"
            connectionString="Data Source=DESKTOP-16PLU27\SQLEXPRESS;Initial Catalog=QLLoginForm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ClassLibrary1.Properties.Settings.LoginFormConnectionString"
            connectionString="Data Source=DESKTOP-16PLU27\SQLEXPRESS;Initial Catalog=LoginForm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>